@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

:root {

    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    /* (paragraphs) */
    --Very-light-gray: hsl(0, 0%, 95%);
    /* (backroud, headings, buttons) */
}

body {
    display: flex;
    justify-content: center;
}

.principal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 800px;
}

.sedans {
    background-color: var(--Bright-orange);
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.suvs {
    background-color: var(--Dark-cyan);
    padding: 40px;
}

.luxury {
    background-color: var(--Very-dark-cyan);
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.imagem {
    margin-bottom: 20px;
}

.titulo {
    color: var(--Very-light-gray);
    font-family: "Big shoulders Display", sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.descricao {
    color: var(--Transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    margin: 0 0 20px 0;
    line-height: 20px;
}

.btn {
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: var(--Very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    margin: 20px 0 0 0;
    cursor: pointer;
}

.sedans .btn {
    color: var(--Bright-orange);
}

.suvs .btn {
    color: var(--Dark-cyan);
}

.luxury .btn {
    color: var(--Very-dark-cyan);
}

.sedans .btn:hover {
    background-color: var(--Bright-orange);
    outline: 1px solid;
    color: var(--Very-light-gray);
}

.suvs .btn:hover{
    background-color: var(--Dark-cyan);
    outline: 1px solid;
    color: var(--Very-light-gray);
}

.luxury .btn:hover{
    background-color: var(--Very-dark-cyan);
    outline: 1px solid;
    color: var(--Very-light-gray);
}

@media(max-width: 850px) {
    .principal-container{
        display: block;
        max-width: 350px;
        margin: 50px 0;
    }
}